@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  padding: 0;
  background-color: skyblue;
}

p {
  font-size: large;
}

body {
  margin: 0 auto;
  width: 50%;  
}

li {
  list-style-position: inside;
}

h1 {
  border-bottom: 2px solid black;
  margin: 8px 0px;
}

h2 {
  margin: 16px 0px 8px 0px;
}

p {
  margin: 8px 0;
}

#Banner {
  padding: 10px;
  margin-bottom: 8px;
  min-height: 180px;
  background-color: blue;
}

.tip::before {
  content: "TIP";
  display: block;
  font-weight: bold;
}

.tip {
  padding: 16px;
  border-radius: 10px;
  background-color: orange; 
}